<!DOCTYPE html>
<html>
    <%- include("partials/head.ejs", {title: 'Budget - Index Page'}) %> 
    <%- include("./partials/header.ejs") %>
    <body>

        <!-- Primary Page Layout
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="container">
            <table class="u-full-width">
                <h4>Budgtr</h4>
                <nav>
                    <a href="/budgets/new">Create New Item</a>
                </nav>
                <thead>
                    <tr>
                      <th>Date</th>
                      <th>Name</th>
                      <th>From</th>
                      <th>Amount</th>
                      <th>Tags</th>
                      <th>edit</th>
                    </tr>
                  </thead>
                  <tbody>
                      <!-- Clear Empty Fields -->
                      <% for(let i = 0; i < allBudgets.length; i++){ %>
                        <% let tags = allBudgets[i].tags
                            let newTags = []
                            for (tag of tags) {
                                if (tag !== "") {
                                    newTags.push(tag)}}%>
                        <!-- Convert date so all dates match format -->
                        <%  let inputs = allBudgets[i].date
                            let date  = (new Date(inputs).toDateString("en-US", {timeZone: "America/Los_Angeles"})).split(" ").splice(1,2).join(" ") %>
                        <tr>
                            <td>
                                <%= date %></td>
                            <td>
                                <a href="/budgets/<%= i %>">
                                    <%= allBudgets[i].name %>
                                </a>
                            </td>
                            <td><%= allBudgets[i].from %></td>
                            <td><%= allBudgets[i].amount %></td>
                            <!-- <form action="/budgets/<%= i %>?_method=DELETE" method="POST">
                                <input type="submit" value="DELETE">
                            </form> -->
                            <td><%= newTags.join(", ") %></td>
                            <td>
                                <a href="/budgets/<%= i %>/edit">EDIT</a>
                            </td>
                        </tr>
                        
                        <% } %>
                    </tbody>
                </table>
            </div>
            <%- include("./partials/footer.ejs") %>
          </div>
        </div>
    <!-- <script>
        var inputs  = $("input[type='date']").value
        var date  = (new Date(inputs).toDateString("en-US", {timeZone: "America/Los_Angeles"})).split(" ").splice(1,2).join(" ") 
    </script> -->
      <!-- End Document
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    </body>
</html>